{% extends "regulations/generic_landing.html" %}
{% load macros to_list %}

{% block reg_title %}
<div class="banner-image banner-646"></div>
<div class="banner-text-spacer">
  <div class="banner-text-wrapper">
    <h2 class="banner-text">AC - Access Control Control Family</h2>
  </div>
</div>
<p>This is a demo showing rendering of (part of) the <a href="https://cloud.gov/">cloud.gov</a> System Security Plan (SSP).</p>

{% endblock %}

{% block reg_main_content %}
{% with reg='646' version=current_version.version %}
  {% to_list 'IAM' 'CloudTrail' as terms %}
  {% include "atf_eregs/landing-search.html" %}
{% endwith %}
{% endblock %}

{% block reg_sidebar %}
<div class="content-wrap">
  <h3>Additional information</h3>
  <ul>
    <li>{% external_link url="https://docs.cloud.gov/" text="cloud.gov Documentation" %}</li>
  </ul>
</div>
{% endblock %}
